* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

#upload-card {
  background:rgba(76, 250, 212, 0.2);
  width: 100%;
  height: 20em;
  padding: 0.625rem;  
  margin-top: 3.125rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#upload-card h1 {
  color: black;
  font-family: 'Anton', sans-serif;
  font-size: 1.6rem;
}

#upload-card--item {
  box-shadow: 0 0.125rem 0rem 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  top: 0;
  left: 0;
}
#table-chart-card {
  margin-top: 2rem;
  width: 100%;
  padding: 0;
  top: 0;
  left: 0;
}
.main-header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  z-index: 100;
  background:  rgb(238, 110, 115);
  box-shadow: 0 0.125rem 0rem 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}
.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__logo {
  color: wheat;
  text-decoration: none;
  font-weight: bold;
  height: 2.5rem;
  text-shadow: 0.125rem 0.125rem 0.125rem #000000;
  vertical-align: middle;
}
.main-header__logo:hover,
.main-header__logo:active
{
  color: #000000;
  text-shadow: 2px 2px 2px wheat;
}

.main-nav {
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}
.main-nav__item a {
  text-decoration: none;
  color: #000000; 
  padding: 0.2rem 0;
}
.main-nav__item a:hover, 
.main-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a:active
{
color: bisque; 
text-shadow: 1px 1px 1px #000000;
}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}
.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  text-decoration: none;
}

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer__link {
  margin: 0.5rem 0;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}
.main-footer__link a {
color: bisque; 
text-shadow: 2px 2px 4px #000000; 
text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc; 
  text-shadow: 2px 2px 4px #000000; 
  }

  #doc-ul {
    background-color: aquamarine !important;
  }

  @media (min-width: 40rem) {
    .toggle-button {
      display: none;
    }
    .main-nav {
      display: flex;
    }
    .main-header__logo {
      vertical-align: middle;
      font-size: 1.5rem;
    }
    .main-footer__link {
      margin: 0 1rem;
    }
    
    .main-footer__links {
      flex-direction: row;
      justify-content: center;
    }
    #upload-card h1 { 
      font-size: 3rem;
    }
    #upload-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      align-content: center;
      align-items: center;
    }
    #upload-card--item {
      box-shadow: 0 0.125rem 0rem 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      padding: 0;
      top: 0;
      left: 0;
    }
  }
